[submodule "day14/flask_test_project"]
	path = day14/flask_test_project
	url = https://github.com/pallets/flask.git
[submodule "day19/requests-docs"]
	path = day19/requests-docs
	url = https://github.com/psf/requests.git
[submodule "day21/koog"]
	path = day21/koog
	url = https://github.com/JetBrains/koog.git
[submodule "day22/koog"]
	path = day22/koog
	url = https://github.com/JetBrains/koog.git
[submodule "day23/koog"]
	path = day23/koog
	url = https://github.com/JetBrains/koog.git
[submodule "day24/koog"]
	path = day24/koog
	url = https://github.com/JetBrains/koog.git
[submodule "day25/koog"]
	path = day25/koog
	url = https://github.com/JetBrains/koog.git